<div class="container" id="main-charsheet">
    <!-- Name, age, culture, concept, cult-->
    <div class="row" id="char-header">
        <div class="col-sm text-center">PERSONAJE</div>
    </div>

    <!-- Body, Agility, Charisma -->
    <div class="row" id="attributes-1">
        <div class="col-sm" id="attr-body">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="row">CUERPO</th>
                        <th scope="row">[VALOR]</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"></th>
                        <td>[VALOR]</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>[VALOR]</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>[VALOR]</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>[VALOR]</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>[VALOR]</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>[VALOR]</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm" id="attr-agility">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="row">AGILIDAD</th>
                        <th scope="row">[VALOR]</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"></th>
                        <td>[VALOR]</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>[VALOR]</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>[VALOR]</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>[VALOR]</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>[VALOR]</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>[VALOR]</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm" id="attr-charisma">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="row">CARISMA</th>
                        <th scope="row">[VALOR]</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"></th>
                        <td>[VALOR]</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>[VALOR]</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>[VALOR]</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>[VALOR]</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>[VALOR]</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>[VALOR]</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Intellect, Psyche, Instinct -->
    <div class="row" id="attributes-2">
        <div class="col-sm" id="attr-intellect">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="row">INTELECTO</th>
                        <th scope="row">[VALOR]</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"></th>
                        <td>[VALOR]</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>[VALOR]</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>[VALOR]</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>[VALOR]</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>[VALOR]</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>[VALOR]</td>
                    </tr>
            </table>
        </div>
        <div class="col-sm" id="attr-psyche">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="row">PSIQUE</th>
                        <th scope="row">[VALOR]</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"></th>
                        <td>[VALOR]</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>[VALOR]</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>[VALOR]</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>[VALOR]</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>[VALOR]</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>[VALOR]</td>
                    </tr>
            </table>
        </div>
        <div class="col-sm" id="attr-instinct">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="row">INSTINTO</th>
                        <th scope="row">[VALOR]</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"></th>
                        <td>[VALOR]</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>[VALOR]</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>[VALOR]</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>[VALOR]</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>[VALOR]</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>[VALOR]</td>
                    </tr>
            </table>
        </div>
    </div>

    <!-- Origins, Ego, Wounds, Spore, Potentials -->
    <div class="row" id="attributes-3">
        <div class="col-sm" id="origins">ORÍGENES</div>
        <div class="col-sm-6 text-center" id="condition">CONDICIÓN</div>
        <div class="col-sm" id="potentials">POTENCIALES</div>
    </div>
    <!-- Equipment -->
    <div class="row" id="equipment">
        <div class="col-sm">EQUIPO</div>
    </div>
</div>