<div class="container">

    <p id="stats-area">
        <h1 class="display-4"><span class="text-uppercase" id="out-name"></h1>
        <br><span class="lead">PERFIL</span>
        <br><b>ARQUETIPO:</b> <span class="text-capitalize" id="out-culture"></span>, <span class="text-capitalize" id="out-concept"></span>,
        <span class="text-capitalize" id="out-cult"></span>
        <br><b>ATRIBUTOS:</b> CUE <span class="text-capitalize" id="out-body"></span>, AGI <span class="text-capitalize"
            id="out-agility"></span>, CAR <span class="text-capitalize" id="out-charisma"></span>, INT <span class="text-capitalize"
            id="out-intellect"></span>, PSI <span class="text-capitalize" id="out-psyche"></span>, INS <span class="text-capitalize"
            id="out-instinct"></span>
        <br><b>HABILIDADES:</b> <span class="text-capitalize" id="out-skills"></span>
        <br><b>TRASFONDOS:</b> <span class="text-capitalize" id="out-skills"></span>
        <br>
        <!-- ESPECIAL: -->
        <b>POTENCIALES:</b> <span class="text-capitalize" id="out-potentials"></span>
        <br><b>INICIATIVA:</b> <span class="text-capitalize" id="out-initiative"></span>D, <span class="text-capitalize"
            id="out-initiative"></span>
        Puntos de Ego (<span class="text-capitalize" id="out-focus-primal"></span>)
        <br><b>ATAQUE:</b> <span class="text-capitalize" id="out-attacks"></span>
        <br><b>DEFENSA:</b> <span class="text-capitalize" id="out-defense"></span>
        <br><b>MOVIMIENTO:</b> <span class="text-capitalize" id="out-movement"></span>D
        <br><b>PROTECCIÓN:</b> <span class="text-capitalize" id="out-protection"></span>
        <br><b>CONDICIÓN:</b> Infestación de Esporas <span class="text-capitalize" id="out-spore-infestations"></span>, Heridas
        Superficiales <span class="text-capitalize" id="out-fleshwounds"></span>, Trauma <span class="text-capitalize" id="out-trauma"></span><br>
        <!-- SPECIAL EQUIPMENT: Seal ring of the cloister at Lucatore; prayer formulas on small
        parchment scrolls. According to the Neognostic ritual, she burns the formulas in the
        braziers in the chapel of the Cloister; Vikal‘s hair (a braid made from the few hairs that
        grew on Vikal‘s head over the years and fell out again. His only “gift“ to his mother). -->

    </p>
</div>

<!--
    P R O F I L E
    ARCHETYPE: Purgare, The Healer, Anabaptist, Rank 4: Emissary
    ATTRIBUTES: BOD 4, AGI 4, CHA 4, INT 3, PSY 4, INS 3
    SKILLS: Athletics 8D, Brawl 6D, Force 8D, Melee 8D, Toughness 8D, Mobility 8D,
    Projectiles 9D, Stealth 6D, Conduct 8D, Leadership 8D, Negotiation 8D, Legends 8D,
    Cunning 6D, Deception 6D, Domination 8D, Faith 10D, Reaction 8D, Perception 6D,
    Primal 8D
    BACKGROUNDS: Allies 1, Authority 4, Renown 4, Resources 4, Secrets 4
    SPECIAL: +2D to CHA+Negotiation when dealing with Chroniclers;
    +1D Mental Defense
    POTENTIALS: Killing Blow 3, Motherly Love
    INITIATIVE: 8D / 16 Ego Points (Primal)
    ATTACK: Neva‘s sword, 9D, Distance 1 m, Damage 10
    DEFENSE: Passive 1; Melee active (Block), Melee 9D;
    Ranged Combat active (Look for Cover), Mobility 8D;
    Mental (Faith) 11D
    MOVEMENT: 8D
    ARMOR: Chain mail, Armor 4
    CONDITION: Spore Infestation 16 / 20, Fleshwounds 16, Trauma 8
    SPECIAL EQUIPMENT: Seal ring of the cloister at Lucatore; prayer formulas on small
    parchment scrolls. According to the Neognostic ritual, she burns the formulas in the
    braziers in the chapel of the Cloister; Vikal‘s hair (a braid made from the few hairs that
    grew on Vikal‘s head over the years and fell out again. His only “gift“ to his mother).


    PERFIL DE COMBATE
    INICIATIVA: 9D/8 puntos de Ego
    ATAQUE: Hacha 6D, daño 11, alcance 2, Desequilibrada (2DT)
    DEFENSA: Pasiva 1,
    Activa cuerpo a cuerpo (parada), Armas cuerpo a cuerpo 6D;
    Activa a distancia (caminar agachado), Movilidad 6D
    Mental 10D (estoico)
    MOVIMIENTO: 8D
    PROTECCIÓN: Armadura de cuero y pieles, protección 2
    CONSTITUCIÓN: 20 (trauma: 10)
-->