<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
        <a class="navbar-brand" href="/">Degenesis CharGen!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapsing" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-collapsing">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/about">¿Qué es esto?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/DavSanchez/degenesis-chargen-es">GitHub</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/changes">Changelog</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">

    </div>
    <hr class="my-4">

    <% include ../partials/body-end.ejs %>

</body>

</html>