<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
</head>

<body>
    <% include ../partials/navbar.ejs %>
        <hr class="my-4 ">
        <div class="container-fluid ">
            <div class="row ">
                <div class="col-xl-7 ">
                    <% include ../partials/charsheet.ejs %>
                </div>
                <div class="col-xl-5 ">
                    <% include ../partials/output-area.ejs %>
                </div>
            </div>
            <div class="container-fluid ">
                <hr class="my-4 ">
            </div>
        </div>
        <script src="js/main.js" type="text/javascript"></script>
        <% include ../partials/body-end.ejs %>

</body>

</html>